<a href="https://colab.research.google.com/github/ijijijijiji/ijijijijiji/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬은 띄어쓰기 조심!

In [ ]:
print("안녕")

나의 첫 파이썬 코드

파이썬에서 변수 만들기는 쉬움

In [ ]:
name = '홍길동'
age = 17
print("안녕하세요 난 " , name)

In [ ]:
a = 5
b = 3
print(a%b) #나머지를 구하는 연산자

In [ ]:
a = 5
b = 3
print(a == b)
print(a != b)

In [ ]:
a = 5
b = 2
t = b
b = a
a = t
print(a, b)

2 5

In [ ]:
str = 'holle'

In [ ]:
print(str)

holle

In [ ]:
#우리반 학생을 저장 ( 1~ 10번)
#방법1
s1 = '김개똥'
s2 = '홍길동'
#만약 학생이 100명이라면 ? => 100의 변수가 필요

student =  ['김개똥', '홍길동', 100] #리스트에 다른 형태의 자료형도 보관가능
print(student[2])  #리스트 번지는 0번지 부터 시작

student.append('이서연')
print(student[3])

#리스트에서 쓸수 있는 기능들은 어떤게 있을까??

student.pop(1) #1번째 항목이 삭제
print(student)

100
이서연
['김개똥', 100, '이서연']

In [ ]:
print(type(cls)) #cls의 자료형
num = 3
print(type(num))

NameError: ignored

In [ ]:
#사용자 입력
print('이름을 입력하세요')
name = input() #입력하기 기능
#또는 name = input ('이름을 입력하세요')
#print('holle', name)
#print('holle'+ name)
print(f'holle {name}')  # f' 로 시작하는 포맷팅을 이용해서 변수를 안에 표현할 수 있음

In [ ]:
#리스트에 관해서.. 문자열
#string = 문자열
str = 'hello world'
print(str[4])  #['h' , 'e', 'l'....] 저장되고 있음
print(len(str)) #len() 기능은 문자의 길이를 출력

list = [1,2,3,4,5] #배열의 길이를 알 수 있을까?
print(len(list))

In [ ]:
#반복문-반복된 작업을 쉽게
#상황-리스트 = [0,0,0,0,0,0,.....] => 100칸 생성
#list = [0,0,...,0] 또는
#list = [] list.append  추가하기 100번

#반복 명령어 for,while
#for = 제한된 횟수만큼 반복
#k = 반복하면서 사용할 변수
#renge(범위) 0~범위-1 까지
for k in range(2,5): #2부터 5-1까지
# :  표시는 중괄호 시작이랑 같은 뜻
  #안에 띄어쓰기를 했음
  print(k)  #k는 0~9까지 변신
  print('반복중')

In [ ]:
# 100개의 리스트 배열을 만들고 [0,2,4,6,...] 순서로 값을 초기화
#배열의 항목을 추가하는 명령어 append

for k in renge(100):
  list.append(k*2)
print(list)

In [ ]:
#for는 반복문 => 똑같은 작업을 할 수 있도록 횟수를 지정하는 반복문
#입력하는 단의 구구단 출력
#예) 3입력 => 3*1=3 .... 3*9 = 27
n = input('숫자를 입력하세요')
print(n*3) #ioput으로 받은 값은 문자로 출력됨
k = int(n) #int 타입 = 정수값으로 변경
print(k*3)
## ==>>>>   n = int(input('숫자입력'))

숫자를 입력하세요3
333

In [ ]:
#입력하는 단의 구구단 출력
n = int(input('숫자입력')) #내가 원하는 숫자 입력

#print(f'{n} = 1 ={n*1}')
#print(f'{n} = 1 ={n*2}')


for i in range(1,10):    #1~10 전까지 = 1~9   #클론 : 붙이기
  print(f'{n} * {i} = {n*i}')

In [ ]:
#  1~ 입력수 n까지 369게임 (n = 2~9)
#3,6,9에는 대문자 X를 출력
#그리고 숫자마다 공백

#0. 사용자 입력을 숫자로 받기
#1. 1부터 입력수까지 출력 => for문 필요
#2. 3,6,9 인지 판단 하여 X로 변환
k = int(input('숫자 입력'))
for i in range(1,k+1):
  # 1부터 k까지 나옴
  #if조건 : => 참인지 검사
  #참이라면 수행할 내용
  #
 if i == 3 :   #등호를 하나만 쓰면, <- 복사,   ==  비교하는것
  print('X')
else:  #그 밖에 if와 같이 사용됨. if는 혼자 쓸수 있지만 else 혼자 사용 불가
  if i == 6 :
    print('X')

In [ ]:
#나머지 연산자 알기
n = int(input('숫자 입력'))
for i in range(1,n+1):
  #만약 3으로 나누어 떨어지는가 == 나머지가 0인가
  # % = 나머지 연산자 => 10 % 3 = 1
  if i % 3 == 0:
    print('X')
  else:
    print(i)

In [ ]:
#OR연산자, AND연산자 => OR연산자
n = int(input('숫자 입력'))
for i in range(1, n+1):
 # or 조건중에 하나라도 참이면 참
  if i == 3 or i == 6 or i == 9 :
    print('X' , end = ' ')
  else:
    print(i, end = ' ')

In [ ]:
#if문 복습 for문과 연계
#if = 조건검사 = 만약 조건이 참이라면 수행할 내용 작성
a = 5
if a > 5 :
  print('큰수')
  print('입니다')


  if a >5 :
    print('큰수')
  else:  #else = 그밖에  참이 아닌 경우에는 전부 이쪽으로 오게됨
    print('작은수')

큰수
입니다

In [ ]:
#내가 생각 숫자 맞추기
#10번의 기회동안 숫자를 맞춤
#10번 기회 => 10번동안 입력을 받아야겠음
#10번동안 => 10번 반복 => for문 필요
#입력받음 => input() 필요
#내가 입력한 숫자가 맞는지 검사(만약 일치하나??) => if문 필요
#10번 반복할 동안 검사를 매번 수행 => for문 안에서 입력도 받고 검사도 하고


for i in range(10):
  ans = 15
  num = int( input('정답은?') ) 

#ans랑 num이랑 같은가
if ans == num :
  print('정답')
else:
  print('오답')

In [ ]:
for i in range(10):
  ans = 15
  num = int( input('정답은?') ) 

if ans == num :
  print('정답')
else:
  #틀린 숫자만 오는 경우
  #또 검사 
  if ans > num:
    print('up')
   else:
     print('down')

In [ ]:
for i in range(10):
  ans = 15
  num = int( input('정답은?') )  #입력 문자를 숫자로 변환
  #ans랑 num가 같은가

if ans == num :
  print('정답')
#빠져나가기 => 검색. 파이썬에서 반복문 빠져나가기

  break
#else 아래의 if를 또 쓰자니 번거로움...

elif ans > num :
  print('up')
else:
    print('down')

In [ ]:
#숫자를 입력받기 기능 => n이라고 하자
#1부터 n까지 반복 => for ~~~~ :
#반복하면서 나오는 숫자가 짝수인지 검사 %2==0 ???
#합 구하기 => 합을 보관하는 변수 sum을 만들자
#sum변수를 누적해서 저장하자

n = int(input())
sum = 0 #합계

for  k in range(1, n+1):
  #k가 1~n까지 값이 들어옴
  #k가 짝수인지 판단
  if k%2 == 0:
    #sum에다 k를 누적 => 누적한다는 것은 sum에 k를 추가 => sum에 보관
    sum = sum+k

#반복이 끝났음
print(sum)

30
240

In [ ]:
n = int(input())
sum = 0

for k in range(2, n+1, 2):
  sum = sum + k
print(sum)

30
240

In [ ]:
n = int(input())
sum = 0
if n%2 != 0:
  n= n-1 #n을 마지막 짝수로 만듬
mid = int(n/2) + 1
sum = ((n+2) * int(n/4)) + mid
print(sum)

30
240

In [ ]:
#가위1   바위1   보3 
#
me = int(input('뭐 낼래? 가위1 바위2 보3   '))
com = int(input('컴퓨터는 뭐 낼래? 가위1 바위2 보3   ')) #가위를 냈다고 하자..


#나와 컴의 비교를 해서 승, 패, 무승부 출력!

if me == com :
  print('무승부')
elif me == (1 and com == 3) or (me == 2 and com == 1) or (me == 3 and com == 2):
  print('이겼다')
else:
  print('졌다')

뭐 낼래? 가위1 바위2 보3   1
컴퓨터는 뭐 낼래? 가위1 바위2 보3   2
졌다

In [ ]:
#1이 입력되면 0, 0이 입력되면 1로 출력하는 프로그램 만들자
n = int(input())
if n == 1 :
  print(0)
else :
  print(1)


n = int(input())
print(1-n)

In [ ]:
#for문과 배열을 섞어보자
#배열 = 리스트 => 변수의 집합 => 여러개의 변수를 묶어서 보관
#그럼 어떻게 안에 있는 자료를 접근할 수 있을까?? => 주소

lt = [] #빈 리스트 만들기
#리스트 관련된 명령어 알기
#  lt. => 점을 찍으면 사용할 수 있는 명령어가 나옴
lt.append(1) #뒤에 추가
lt.append(10)
lt.insert(1, 5) #(번자, 추가할 값)  , 리스트는 0번지 부터 출발
lt.insert(0, 20) #[20, 1, 5, 10]

#1번지에 있는 1을 삭제
lt.remove(1) #삭제할때는 주수번지만 이용해서 삭제



print(lt)

In [ ]:
#[0, 10, 20, 30, 40, 50 ....1000]인 배열 만들자
#0번지 0, 1번지에 10, 2번지에 20, 3번지에 30......n번지 n*10
a = []
for n in range(101):
  a.append(n*10)
print(a)

pos = a.index(40) 
#값을 찾아보고 있으면 해당 번지를 출력
print(pos)

str + 'hello word' #문자열도 리스트로 다룰 수 있음
print(str[6])
print(str.index('w'))
#문자열에서는 find 명령어도 사용할 수 있음

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]

In [ ]:
#리스트에서 index를 쓰지않고 해당 위치 반환

a = [1,2,3,4,5,6,7,]
size = len(a)  #a 배열의 길이  , a.lenght 아님(자바에서 이렇게...)
find = int(input())

#for문을 이용 => a의 크가 만큼 반복검사
for k in range(size):
  #a[k]야 find와 같음?
  if a[k] == find:
    print(k)
    break


#a에서 쓸수 있는 기능
#pos = a.index(4) #4의 위치는?
#print(pos)


###결과###
#4입력 => 3(번지)출력

5
4

In [ ]:
#마지막부터 답 찾기
#range의 활용

a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
size = len(a)
find = int(input())
#10부터 1까지 1씩 감소 => range(11, 0, -1)
for k in range(size-1 , -1, -1):
  if a[k] == find:
   print(k)
   break


for k in range(size):
  #0번지 => 3 만들기
  pos = size - 1 - k #k=0일 때 10-1-k=>9--0 = 9번지 찾기
  if a[pos] == find:
   print(pos)
   break

In [ ]:
#n = [1,3,4,5,51,6,37,86,7,8,9,]
n = ['jan', 'fed', 'mar', 'apr','may','june', 'july']
#range(10) = [0,1,2,3,4,5,6,7,8,9]
for k in n:  #in 다음에는 range만 가능한게 아님. 범위를 가지고 있는 것을 쓰면 됨
  print(k)

1
3
4
5
51
6
37
86
7
8
9

In [ ]:
#반복문


#~동안에
#조건이 참인 동안 반복
k = 0
while k < 5:
  print(k)
  k = k+1

print('byebye')
print(k)

0
1
2
3
4
byebye
5

In [ ]:
#패스워드를 검사하자.  비번이 맞을 때 까지 반복

#비번이 틀렸을 때 반복

pw = '1234' #문자 1234

my = input('패스워드를 입력하세요')

#비번이 틀렸을 때 반복  pw my 같지 않을때
while pw != my:  #!는 부정의 의미
  my = input('패스워드를 입력하세요')
print('welcome')

In [ ]:
pw = '1234'

#무조건 반복하다가 조건이 맞으면 탈출(break)
#파이썬에는 do-while문이 없음
#True는 참을 뜻함. False은 거짓 => 대소문자 주의
while True :
  my = input('비번입력')
  if my == pw:
    break