<a href="https://colab.research.google.com/github/ijijijijiji/HTML-CSS/blob/main/2%ED%95%99%EA%B8%B0_%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#range(10) = 0~9 == range(0,10) == range(0,10,1) 0~10전까지 +1 step
for i in range(10):
  print(f'hello',end='\t')

# 1부터 100000까지 반복 출력
# 1~10000
for i in range(1, 20):
    print(f'{i}단')
   for k in range(1,20):
     print(f'{i} * {k} = {i * k}', end='\n')
    print('')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [ ]:
# 내가 입력한 단만 출력

n = int(input())

for k in range(1,10): #1부터 9까지 하나씩 가져와서 k 변수에 저장
    # 콜론(:)을 찍어서 들여쓰기 = 반복하면서 할 일을 지정
    print(f'n*{k}={n*k}')

In [ ]:
for i in range(2,5): # 2~4까지
    for k in range(1,10):
        print(f'{i}*{k}={i*k}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36

In [ ]:
for k in range(1,20):
  for i in range(2,20):
      print(f'{i} * {k} = {i*k}', end='\t')
  print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	10 * 1 = 10	11 * 1 = 11	12 * 1 = 12	13 * 1 = 13	14 * 1 = 14	15 * 1 = 15	16 * 1 = 16	17 * 1 = 17	18 * 1 = 18	19 * 1 = 19
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	10 * 2 = 20	11 * 2 = 22	12 * 2 = 24	13 * 2 = 26	14 * 2 = 28	15 * 2 = 30	16 * 2 = 32	17 * 2 = 34	18 * 2 = 36	19 * 2 = 38
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	10 * 3 = 30	11 * 3 = 33	12 * 3 = 36	13 * 3 = 39	14 * 3 = 42	15 * 3 = 45	16 * 3 = 48	17 * 3 = 51	18 * 3 = 54	19 * 3 = 57
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	10 * 4 = 40	11 * 4 = 44	12 * 4 = 48	13 * 4 = 52	14 * 4 = 56	15 * 4 = 60	16 * 4 = 64	17 * 4 = 68	18 * 4 = 72	19 * 4 = 76
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	10 * 5 = 50	11 * 5 = 55	12 * 5 = 60	13 * 5 = 65	14 * 5 = 70	15 * 5 = 75	16 * 5 = 80	17 * 5 = 85	18 * 5 = 90	19 * 5 = 95
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	10 * 6 = 60	11 * 6 = 66	12 * 6 = 72	13 * 6 = 78	14 * 6 = 84	15 * 6 = 90	16 * 6 = 96	17 * 6 = 102	18 * 6 = 108	19 * 6 = 114
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	10 * 7 = 70	11 * 7 = 77	12 * 7 = 84	13 * 7 = 91	14 * 7 = 98	15 * 7 = 105	16 * 7 = 112	17 * 7 = 119	18 * 7 = 126	19 * 7 = 133
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	10 * 8 = 80	11 * 8 = 88	12 * 8 = 96	13 * 8 = 104	14 * 8 = 112	15 * 8 = 120	16 * 8 = 128	17 * 8 = 136	18 * 8 = 144	19 * 8 = 152
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81	10 * 9 = 90	11 * 9 = 99	12 * 9 = 108	13 * 9 = 117	14 * 9 = 126	15 * 9 = 135	16 * 9 = 144	17 * 9 = 153	18 * 9 = 162	19 * 9 = 171
2 * 10 = 20	3 * 10 = 30	4 * 10 = 40	5 * 10 = 50	6 * 10 = 60	7 * 10 = 70	8 * 10 = 80	9 * 10 = 90	10 * 10 = 100	11 * 10 = 110	12 * 10 = 120	13 * 10 = 130	14 * 10 = 140	15 * 10 = 150	16 * 10 = 160	17 * 10 = 170	18 * 10 = 180	19 * 10 = 190
2 * 11 = 22	3 * 11 = 33	4 * 11 = 44	5 * 11 = 55	6 * 11 = 66	7 * 11 = 77	8 * 11 = 88	9 * 11 = 99	10 * 11 = 110	11 * 11 = 121	12 * 11 = 132	13 * 11 = 143	14 * 11 = 154	15 * 11 = 165	16 * 11 = 176	17 * 11 = 187	18 * 11 = 198	19 * 11 = 209
2 * 12 = 24	3 * 12 = 36	4 * 12 = 48	5 * 12 = 60	6 * 12 = 72	7 * 12 = 84	8 * 12 = 96	9 * 12 = 108	10 * 12 = 120	11 * 12 = 132	12 * 12 = 144	13 * 12 = 156	14 * 12 = 168	15 * 12 = 180	16 * 12 = 192	17 * 12 = 204	18 * 12 = 216	19 * 12 = 228
2 * 13 = 26	3 * 13 = 39	4 * 13 = 52	5 * 13 = 65	6 * 13 = 78	7 * 13 = 91	8 * 13 = 104	9 * 13 = 117	10 * 13 = 130	11 * 13 = 143	12 * 13 = 156	13 * 13 = 169	14 * 13 = 182	15 * 13 = 195	16 * 13 = 208	17 * 13 = 221	18 * 13 = 234	19 * 13 = 247
2 * 14 = 28	3 * 14 = 42	4 * 14 = 56	5 * 14 = 70	6 * 14 = 84	7 * 14 = 98	8 * 14 = 112	9 * 14 = 126	10 * 14 = 140	11 * 14 = 154	12 * 14 = 168	13 * 14 = 182	14 * 14 = 196	15 * 14 = 210	16 * 14 = 224	17 * 14 = 238	18 * 14 = 252	19 * 14 = 266
2 * 15 = 30	3 * 15 = 45	4 * 15 = 60	5 * 15 = 75	6 * 15 = 90	7 * 15 = 105	8 * 15 = 120	9 * 15 = 135	10 * 15 = 150	11 * 15 = 165	12 * 15 = 180	13 * 15 = 195	14 * 15 = 210	15 * 15 = 225	16 * 15 = 240	17 * 15 = 255	18 * 15 = 270	19 * 15 = 285
2 * 16 = 32	3 * 16 = 48	4 * 16 = 64	5 * 16 = 80	6 * 16 = 96	7 * 16 = 112	8 * 16 = 128	9 * 16 = 144	10 * 16 = 160	11 * 16 = 176	12 * 16 = 192	13 * 16 = 208	14 * 16 = 224	15 * 16 = 240	16 * 16 = 256	17 * 16 = 272	18 * 16 = 288	19 * 16 = 304
2 * 17 = 34	3 * 17 = 51	4 * 17 = 68	5 * 17 = 85	6 * 17 = 102	7 * 17 = 119	8 * 17 = 136	9 * 17 = 153	10 * 17 = 170	11 * 17 = 187	12 * 17 = 204	13 * 17 = 221	14 * 17 = 238	15 * 17 = 255	16 * 17 = 272	17 * 17 = 289	18 * 17 = 306	19 * 17 = 323
2 * 18 = 36	3 * 18 = 54	4 * 18 = 72	5 * 18 = 90	6 * 18 = 108	7 * 18 = 126	8 * 18 = 144	9 * 18 = 162	10 * 18 = 180	11 * 18 = 198	12 * 18 = 216	13 * 18 = 234	14 * 18 = 252	15 * 18 = 270	16 * 18 = 288	17 * 18 = 306	18 * 18 = 324	19 * 18 = 342
2 * 19 = 38	3 * 19 = 57	4 * 19 = 76	5 * 19 = 95	6 * 19 = 114	7 * 19 = 133	8 * 19 = 152	9 * 19 = 171	10 * 19 = 190	11 * 19 = 209	12 * 19 = 228	13 * 19 = 247	14 * 19 = 266	15 * 19 = 285	16 * 19 = 304	17 * 19 = 323	18 * 19 = 342	19 * 19 = 361

In [ ]:
rows = 3 # 가로줄
col = 4  # 세로줄

for i in range(rows):
  for k in range(cols):
    print(f'{i * cols + k}', end='\t')
   print()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [ ]:
import randem
rows = int(input('가로줄을 입력하세요'))
cols = int(input('세로줄을 입력하세요'))

# 실제 학생수가 24보다 클수도 있고, 작을수도 있음.
# 만약 24보다 크다면 어떡할래? 지금은 가정하지 않겠음
# 만약 적다면...없는 자리를 X로 표시해서 24를 무조건 만들겠음.
student = ['고현준','곽권','김규민','김민성','김민후','김서빈','김지민','박민지','박진우','박현지','신보경','양현욱','유승찬']
# student를 무조건 24명으로 만들어 버림(없는 자리는 X로 해서)
# 현재 13명 있음. 어떻게 24로 만들까? 현재가 만약 n명이라면?
# 현재가 몇명인지 알 수 있음?
# len(student) = 현재 인원
# student.append('X') 하면 한명 추가

empty = cols * rows - 13
for i in range(empty):
  student.append('X')

randem.shuffle(student)

cnt = 0
for i in range(rows):
    for k in range(cols):
       print(f'{student[cnt]}', end='\t')
       cnt = cnt + 1
    print()

In [3]:
for i in range(3):
  for k in range(5):
    print(f'*', end='')
  print('')

for i in range(1,5):
  for k in range(i):
    print(f'*', end='')
  print('')

*****
*****
*****
*
**
***
****

In [2]:
# 행번호 i와 입력받아 별을 출력하는 코드

rows = int(input('행번호 입력 -> '))

for i in range(rows):
  for k in range(i+1):
    print(f'*', end='')
  print('')

a = int(input('행번호 입력 '))

for i in range(a):
  for k in range(a-i):
    print(f'*', end='')
  print('')

rows = int(input('행번호 입력 '))

for i in range(rows):
  for k in range(rows-i-1):
    print(f'_', end='')
  for k in range(i+1):
    print(f'*', end='')
  print('')

행번호 입력 -> 3
*
**
***
행번호 입력 4
****
***
**
*
행번호 입력 3
__*
_**
***

In [ ]:
sw = -1

for i in range(1,6):
  for k in ranage(6):
    print(f'{i * sw}', end='')
    sw = sw * -1
  print()

In [ ]:
rows = int(input('줄 개수를 입력(홀수) '))
loop = int(rows/2)+1

for i in range(loop):
    for k in range(loop-i-1):
      print(f'0', end='')
    for k in range(i*2+1):
      print(f'8', end='')
    for k in range(loop-i-1):
      print(f'0', end='')
    print()

star = 1
zero = int(rows/2)
sw = 1

for i in range(rows):
    for k in range(zero):
      print(f'0', end='')
    for k in range(star):
      print(f'8', end='')
    for k in range(zero):
      print(f'0', end='')
    print()

    if i < loop - 1:
      star = star + 2  #1개 -> 3개
      zero = zero -1   #3개 -> 2개
    else :
       star = star - 2
       zero = zero  + 1

In [ ]:
# 1 2 3 4 5 6 7
# 8 ~~~~~~    14
# ........    35

number = 1
for i in range(5):
  for k in range(7):
    # i,k를 이용하여 1~35 까지 출력
    print(f'{i*7+k+1}', end='\t')
    #print(f'{number}', end='\t')
    #number += 1
  print()

1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31	32	33	34	35

In [ ]:
#1
#23
#456
#78910

num=1
for i in range(1,6):
  for k in range(i):
    print(f'{num}' , end='\t')
    num = num + 1
  print()

1
2	3
4	5	6
7	8	9	10
11	12	13	14	15

In [ ]:
# 리스트
list = [] # 비어있음
list = [1,2,3,4]

list2 = ['a',1,2,3] # 다른 자료형도 사용할 수 있음
list2.append(4) #append 이용하여 마지막 항목 추가
list2.remove('a') # remove는 항목을 검색해서 삭제
print(list2)

list2.append(1) # [1,2,3,4,1]
print(list2)
list2.remove(1) # 누가 삭제 될까? -> 앞에 있는 값이 삭제
print(list2)

list2.pop() # 항상 마지막 항이 삭제
print(list2) # [2,3,4]

list2.insert(1,5) # 1번지에 5
print(list2) # [2,5,3,4]

[1, 2, 3, 4]
[1, 2, 3, 4, 1]
[2, 3, 4, 1]
[2, 3, 4]
[2, 5, 3, 4]

In [ ]:
list = []

def pop(): # 값을 꺼낼 때 기능
    if len(list) > 0:  # list의 길이를 검사
        list.pop()
    else:
        print('비어있습니다')

def push(value): # 값을 추가할 때 기능
    list.append(value)

while(True):
  print(f'현재상태 : {list}')
  select = input('동작을 입력하세요 1.삭제 2.삽입 3.종료')
  if select == '1': # 삭제
      pop()
  elif select == '2': # 추가
      val = input('값을 입력하세요')
      push(val)
  elif select == '3': # 종료
      break
  else:
      print('1,2,3 중 선택')

현재상태 : []
동작을 입력하세요 1.삭제 2.삽입 3.종료2
값을 입력하세요3
현재상태 : ['3']
동작을 입력하세요 1.삭제 2.삽입 3.종료2
값을 입력하세요5
현재상태 : ['3', '5']
동작을 입력하세요 1.삭제 2.삽입 3.종료2
값을 입력하세요5
현재상태 : ['3', '5', '5']
동작을 입력하세요 1.삭제 2.삽입 3.종료1
현재상태 : ['3', '5']
동작을 입력하세요 1.삭제 2.삽입 3.종료2
값을 입력하세요5
현재상태 : ['3', '5', '5']
동작을 입력하세요 1.삭제 2.삽입 3.종료3

In [ ]:
# 배열의 크기를 정하고, append, pop 없이 구현

global pos, size # global을 선언을 먼저해야 함수에서 같이 사용할 수 있음
size = int(input('배열의 크기를 입력하세요'))
list = []
pos = -1 # 아무것도 지정되지 않음

for i in range(size):
    list.append(0) # 0으로 초기화 [0,0,0...0]

def pop():
    if pos > -1: # 하나라도 있다면 꺼내기 => 0으로 표현
        list[pos] = 0
        pos = pos -1 # 위치를 하나 아래로 설정
    else:
      print('값이 없습니다.')

def push(value):
    if pos >= size - 1: # 마지막 상황에서 9 >= 10 -1
      print('배열이 가득 찼습니다')
    else:
      pos = pos + 1
      list[pos] = value

def show():
    for i in range(pos):
        print(f'{list[i]}', end='\t')

while(True):
  print()
  sel = input('동작을 입력하세요 1.pop 2.push 3.show')
  if sel == '1':
    pop:
  elif sel == '2':
    val = input('값을 입력하세요')
  elif sel == '3':
    show()
  else:
    print('다시 선택하세요')

In [ ]:
list = [
    [1,2,3] ,
    [4,5,6] ,
    [7,8,9] ]
print(list[2][1])

8

In [ ]:
arr = [1,2,3]
list = [arr, arr, arr] #[ [1,2,3],[1,2,3],[1,2,3] ]
print(list)

arr.append(4) # arr [1,2,3,4]
print(list)

# 참조에 의한 호출이기 때문에 list의 값도 같이 변경이 됨

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [ ]:
studentA = [100, 80, 80, 90] # 과목 1 2 3 4
studentB = {
    'korean' : 100,
    'math' : 80,
    'eng' : 80,
    'info' : 90 } # dictionaty 형식 'key' : 'value'의 조합으로 이루어짐

print(studentA[0]) # 국어성적
print(studentB['korean'])

# B학생에게 jpn 성적 100점 추가
studentA.append(100)
studentB['jpn'] = 100
print(studentB)

print(*studentB.keys())

for k in studentB.values():
    print(k)

# 과학이 없음 이라고 출력하고 싶으면 어떻게?

flag = False
for k in studentB.keys():
    if k == 'sci':
      flag= True
if flag == True:
  print('과학있음')
else:
  print('과학없음')

if 'sci' in studentB: # key 검사
  print('과학 진짜 있음')
else:
  print('과학 진짜 없음')

100
100
{'korean': 100, 'math': 80, 'eng': 80, 'info': 90, 'jpn': 100}
korean math eng info jpn
100
80
80
90
100
과학없음
과학 진짜 없음

In [ ]:
for i in range(7):
  for k in range(i+1):
    print(f'*', end='')
  print()

print()

size = 5
for i in range(size):
  for k in range(size-i):
    print(f'*', end='')
  print()

*
**
***
****
*****
******
*******

*****
****
***
**
*

In [ ]:
size = int(input('줄 수 '))
for i in range(size):
    for k in range(size-i-1):
      print(f' ', end='')
    for k in range(i*2+1):
      print(f'*', end='')
    print()

줄 수 10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [ ]:
# 소수판별 = 1과 자신을 제외한 수 중에 나누어지지 않는 수(단, 2 이상)

number = int(input('숫자입력 '))

for n in range(2, number+1):
    is_prime = True
    for k in range(2, n):
        if n % k == 0:
          #print('소수가 아닙니다.')
          is_prime = False
          break

    if is_prime == True:
        print(n)

In [ ]:
n = int(input())

for number in range(1, n+1):
    is_ijak = False
    i = number
    while(number > 0):
        d = number % 10
        if d == 3 or d == 6 or d == 9:
            print('짝!')
            is_ijak = True
            break
        number = int(number / 10)
    if is_ijak == False:
      print(i)

50
1
2
짝!
4
5
짝!
7
8
짝!
10
11
12
짝!
14
15
짝!
17
18
짝!
20
21
22
짝!
24
25
짝!
27
28
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
40
41
42
짝!
44
45
짝!
47
48
짝!
50

In [7]:
list = [2,3,44,6,32,1,18,7,23]
start = 0
end = 3
total = 0

for i in range(start, end+1):
    total = total + list[i] # 기존의 total에 새로운 값을 계속 누적

print(total)

print( sum(list[start : end+1] ))

55
55

In [ ]:
# 연속된 범위를 선택했을 때 최대합은 얼마일까?

list = [2,-3,44,-6,-13,32,1,-18,7,23]
del max
total = -99999999

for i in range(0, len(list)):
  for k in range(i, len(list)):
    total = max(total, sum(list[i : k+1])) # max(엑셀과 같음. 항목 중 최대값 반환)
print(total)

In [5]:
arr = [2, -34, 65, -7, 1, 34, -31, 32]
for k in range(1, len(arr)):
  arr[k] = max(arr[k], arr[k] + arr[k-1])
  print(arr)
print(f'result : {arr[7]}')

[2, -32, 65, -7, 1, 34, -31, 32]
[2, -32, 65, -7, 1, 34, -31, 32]
[2, -32, 65, 58, 1, 34, -31, 32]
[2, -32, 65, 58, 59, 34, -31, 32]
[2, -32, 65, 58, 59, 93, -31, 32]
[2, -32, 65, 58, 59, 93, 62, 32]
[2, -32, 65, 58, 59, 93, 62, 94]
result : 94

In [4]:
#파이썬 함수
def jump(num):
  if num > 10:
    return # 함수 종료
  print(f'{num}를 호출했음')
  print(num)
  jump(num+1)
  print(f'{num}를 호출했음')

jump(1)


# 1~10까지 출력 단 반복문을 사용하지 않고
def show(n):
  if n < 10:
    show(n+1)
  else:
    return

show(1)

1를 호출했음
1
2를 호출했음
2
3를 호출했음
3
4를 호출했음
4
5를 호출했음
5
6를 호출했음
6
7를 호출했음
7
8를 호출했음
8
9를 호출했음
9
10를 호출했음
10
10를 호출했음
9를 호출했음
8를 호출했음
7를 호출했음
6를 호출했음
5를 호출했음
4를 호출했음
3를 호출했음
2를 호출했음
1를 호출했음

In [ ]:
# 5! = 5 * 4 * 3 * 2 * 1
# 재귀호출 : 내가 나를 부르는 호출방법
#            이전 단계가 다 끝나야 내가 끝날 수 있음
def fact(n):
  if n == 1:
    return 1
  else:
    return n * fact(n)

print(fact(5))

In [ ]:
# 파이썬에서는 함수를 def라고 선언, 중괄호가 없음(들여쓰기와 콜론:으로 구별)

def go(step):
    if step > 10 :
        return
    print(step)
    go(step+1)


go(1)

1
2
3
4
5
6
7
8
9
10

In [ ]:
arr = [
    [1,1,0,0],
    [0,1,1,0],
    [0,1,0,0],
    [0,1,1,1]
    ]

def start(x, y):
  global arr
  print(arr[0][0])

start(0,0)

1

In [10]:
# import => 만들어져있는 라이브러리를 갖고 오는 것
# as 키워드를 이용하여 별칭으로 부를 수 있음
import random as rd

n = rd.randint(1,10)
print(n)

names = ['lee', 'park', 'choi', 'hong']
rd.shuffle(names) # names가 변경이 됨
print(names)

6
['choi', 'lee', 'park', 'hong']

In [ ]:
# pypi.org
!pip install gTTS
!pip install playsound

# gtts 라이브러리 중 gTTS만 갖고오기
from gtts import gTTS
import playsound
msg = 'hello'
tts = gTTS(msg) # msg를 읽기'
tts.save('hello.mp3') # hello.mp3 저장하기
playsound.playsound('hello.mp3') # hello.mp3 재생하기